<?xml version="1.0" encoding="utf-8"?>

<!--
  Per ulteriori informazioni sulla configurazione dell'applicazione ASP.NET, visitare
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="IstatConnectionString" connectionString="Data Source=WS-T03-PC09\SQLEXPRESS;Initial Catalog=Istat;Persist Security Info=True;User ID=sa;Password=1234567"
            providerName="System.Data.SqlClient" />
        <add name="IstatConnectionStringLaptop" connectionString="Data Source=LAPTOP-EJG61UVT\SQLEXPRESS01;Initial Catalog=Istat;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

</configuration>
